<?xml version="1.0"?>
<config>
    <modules>
        <Finalwishlist_SharedWishlist>
            <version>0.1.0</version>
        </Finalwishlist_SharedWishlist>
    </modules>
    <global>
        <models>
            <finalwishlist_sharedwishlist>
                <class>Finalwishlist_SharedWishlist_Model</class>
                <resourceModel>finalwishlist_sharedwishlist_resource</resourceModel>
            </finalwishlist_sharedwishlist>
            <finalwishlist_sharedwishlist_resource>
                <class>Finalwishlist_SharedWishlist_Model_Resource</class>
            </finalwishlist_sharedwishlist_resource>
        </models>
        <helpers>
            <finalwishlist_sharedwishlist>
                <class>Finalwishlist_SharedWishlist_Helper</class>
            </finalwishlist_sharedwishlist>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <finalwishlist_sharedwishlist>
                    <file>finalwishlist_sharedwishlist.xml</file>
                </finalwishlist_sharedwishlist>
            </updates>
        </layout>
        <routers>
            <finalwishlist>
                <use>standard</use>
                <args>
                    <frontName>finalwishlist</frontName>
                    <module>Finalwishlist_SharedWishlist</module>
                </args>
            </finalwishlist>
        </routers>
        <events>
            <wishlist_product_add_after>
                <observers>
                    <finalwishlist_sharedwishlist>
                        <class>finalwishlist_sharedwishlist/observer</class>
                        <method>addToFinalWishlist</method>
                    </finalwishlist_sharedwishlist>
                </observers>
            </wishlist_product_add_after>
            <wishlist_item_delete_after>
                <observers>
                    <finalwishlist_sharedwishlist>
                        <class>finalwishlist_sharedwishlist/observer</class>
                        <method>removeFromFinalWishlist</method>
                    </finalwishlist_sharedwishlist>
                </observers>
            </wishlist_item_delete_after>
            <controller_action_predispatch>
                <observers>
                   <finalwishlist_sharedwishlist>
                       <class>finalwishlist_sharedwishlist/observer</class>
                       <method>addFWtoSession</method>
                   </finalwishlist_sharedwishlist>
                </observers>
            </controller_action_predispatch>
            <sales_order_place_after>
                <observers>
                   <finalwishlist_sharedwishlist>
                       <class>finalwishlist_sharedwishlist/observer</class>
                       <method>boughtToFinalWishlist</method>
                   </finalwishlist_sharedwishlist>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <finalwishlist_sharedwishlist>
            <credentials>
                <sandbox_flag>Yes</sandbox_flag>
            </credentials>
        </finalwishlist_sharedwishlist>
    </default>
</config>
